<div>
    <h2> 
    ABOUT UCM STORE
    </h2>
    <p>
        Merchandise & Gifts - located in The Crossing.
        University Store in The Crossing sells an assortment of officially licensed UCM clothing and souvenirs.

        Also located on the first floor of University Store in The Crossing is the Mule Stop convenience store.
    </p>
</div>