
@{
    ViewBag.Title = "Contact";
    
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University Store<br />
    500 S Holden St. Union 128 <br />
    Warrensburg, MO 64093<br />
    
    <abbr title="Phone">PHONE: 660-543-4370</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ucmo.edu">Support@ucmo.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ucmo.edu">Marketing@ucmo.edu</a>
</address>

<

