
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<h2>Add</h2>

@model UCMStore.Models.CouponModel

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend></legend>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                     <label class="control-label">Coupon Code</label>
                     @Html.TextBoxFor(m => m.CouponCode, new { @class = "form-control" })
                     @Html.ValidationMessageFor(m => m.CouponCode)
                    </div>

                <div class="form-group">
                     <label class="control-label">Discount</label>
                     @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
                     @Html.ValidationMessageFor(m => m.Discount)
                    </div>

                    <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Save" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
} 