@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";}


<div class="jumbotron">
    <h2>HELLO ADMIN!!</h2>
    <p class="lead">Lets Check Our FB Page for Today's Ratings</p>
    <p><a href="https://ucmo.blackboard.com/" class="btn btn-primary btn-lg">Check Blackboard Mail &raquo;</a></p>
    <a href="https://www.facebook.com/UniversityStoreUCM">
        <img src="~/images/facebook-logo-3.png" " alt="HTML FB" style="width:42px;height:42px;border:0">
    </a>
</div>